@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

@page {
    size: 21cm 29.7cm;
    margin: 15mm; /* change the margins as you want them to be. */
}

body {
	font-family: "Open Sans", sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	box-sizing: border-box;
	margin: 0;

	* {
		box-sizing: inherit;
	}
}

h1, h2 {
	margin: 0;
}

h3 {
	color: #4d89fb;
	margin: 1em 0 0 0;
}

em {
	color: #4d89fb;
	font-style: normal;
}

img {
	width: 140px;
}

.heading, .subheading {
	font-size: 2.4em;
	font-weight: 300;
}

.subheading {
	font-size: 1.6em;
	opacity: 0.8;
}

.container {
	width: 100%;
	max-width: 1080px;
	display: flex;
	flex-direction: row;
	align-items: stretch;

	.column:last-child {
		margin-left: 2rem;
		flex: 1 0 auto;
	}
}

.education {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);

	em {
		font-weight: normal;
	}
}

footer {
	color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
}

strong {
	color: rgba(0, 0, 0, 0.8);
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 0.4rem 0;
}